* {
  padding:0;
  margin: 0;
}

body {
  min-height:100%;
  min-width: 1000px;
}

#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.nyanner {
  position: absolute;
  top: calc(50% - 10.5vmin);
  left: calc(-50vw + 17vmin);
  /* right: calc(50vw - 17vmin); */
  height: 42vmin;
  width: 100vw;
  z-index: 2;
  /* transition: 280ms linear all; */
}

.runner {
  position: absolute;
  /* top: calc(50% - 21vmin); */
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.trail {
  position: absolute;
  right: 0;
  /* top: calc(50% - 19vmin); */
  margin-top: 1vmin;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: right;
  z-index: 1;
}

.topmenu {
  height:2.5vmax;
  overflow-x: auto;
  background-color: rgba(0,0,0,0.3);
  overflow-y: hidden;
  font-size: 0;
}

.topmenu div {
  display: inline-block;
  font-family: sans-serif;
  line-height: 2.5vmax;
  font-size: 1.3vmax;
  border-right: .3vmax solid rgba(0,0,0,0.5);
  color: #fff;
  padding: 0 1vmax;
  cursor: pointer;
}

.topmenu input[type=text], .topmenu select {
  display: inline-block;
  font-family: sans-serif;
  height: 2.4vmax;
  line-height: 2.4vmax;
  font-size: 1.3vmax;
  padding-left: 1vmax;
  padding-right: 1vmax;
  color: #fff;
  background-color: rgba(22,22,22,0.5);
  border: none;
  width: 14vw;
  cursor: pointer;
}

#container #action-disconnect {
  display: none;
}
#container #action-pause {
  display: none;
}
#container.connected #action-connector {
  display: none;
}
#container.connected #action-disconnect {
  display: inline-block;
}
#container.primary #action-pause {
  display: inline-block;
}

.topmenu input[type=slider], .slider {
  display: inline-block;
  margin-left: .5vmax;
  margin-right: .5vmax;
  font-family: sans-serif;
  height: 2.3vmax;
  line-height: 2.3vmax;
  vertical-align: middle;
  color: #fff;
  background-color: rgba(22,22,22,0.5);
  -webkit-appearance: none;
  appearance: none;
  height: 2.3vmax;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 0.7vmax;
  height: 2.1vmax;
  background: #fff;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 1vmax;
  height: 2.4vmax;
  background: #fff;
  cursor: pointer;
}

.slidecontainer, #action-question {
  float: right;
}

#infobox {
  position:absolute;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 1.4vmax;
  line-height: 2.3vmax;
  font-family: sans-serif;
  padding: 2.5vw;
  top: 10vh;
  width: 85vw;
  left: 5vw;
  display: none;
}
#infobox a {
  color: #fff;
}