.default-cat {
  background-image: url('assets/default/bg.gif');
  /* background-image: linear-gradient(to left, rgba(0,0,0,1), 70%, rgba(255,255,255,1)); */
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-size: 75.5vmin;
  animation: backgroundDefScroll .80s linear infinite;
}

.default-cat .runner {
  background-image: url('assets/default/agent.gif');
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  animation: origCatAnim .7s linear infinite;
  height: 21vmin;
  width: 34vmin;
}

.default-cat .trail {
  background-image: url('assets/default/trail_static.png');
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  mask-image: linear-gradient(to left, rgba(0,0,0,1), 50%, rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), 50%, rgba(0,0,0,0));
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  animation: backgroundScrollOrigTrail 1.4s linear infinite;

  height: 21vmin;
  width: 96vmin;
  margin-right: 23vmin;
}

@keyframes backgroundDefScroll {
  0% {background-position: 0 2vmin;}
  50% {background-position: -75.5vmin -2vmin;}
  100% {background-position: -151vmin 2vmin;}
}

@keyframes backgroundScrollOrigTrail {
  from {background-position: 0 0;}
  to {background-position: -100% 0;}
}

@keyframes origCatAnim {
  0% {margin-right: 0;}
  50% {margin-right: 2vmin;}
  75% {margin-right: 3vmin;}
  100% {margin-right: 0;}
}